* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.card{
  background-color:  crimson;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: seagreen;
  padding: 20px;
  margin: 5px;
}